
body {
    font-family: Arial,sans-serif;
    background-color: white;
    color: gray;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}


a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


h1 {
    text-align: center;
    color: blue;
    margin-bottom: 20px;
}


h2 {
    color: blue;
    margin-top: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}


img {
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 8px;
}


p {
    max-width: 700px;
    margin: 10px auto;
}


ul, ol {
    max-width: 700px;
    margin: 10px auto;
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
    padding: 20px;
    background-image: url();
     background-size: cover;
    
   

}


.title {
    color: blue;
    margin-bottom: 30px;
}

/* Recipe list */
.recipe-list {
    list-style: none;
    padding: 0;
}


.recipe-item {
    margin: 15px 0;
}


.recipe-item a {
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}


.recipe-item a:hover {
    background-color: orange;
}

